/api/project/migrations
/api/project/__pycache__
/api/user/migrations
/api/user/__pycache__
/api/finance/migrations
/api/finance/__pycache__
/api/operation/migrations
/api/operation/__pycache__
/novuscrm/__pycache__
/api/__pycache__
/api/migrations
*db.sqlite3
/db.sqlite3
